<form (ngSubmit)="agregar()">
  <input type="number" name="codCliente" placeholder="introduce un codigo cliente" [(ngModel)]="nuevo.codCliente">
  <input type="text" name="nombre" placeholder="Introduce un nombre" [(ngModel)]="nuevo.nombre">
  <input type="text" name="apellidos" placeholder="Introduce un apellido" [(ngModel)]="nuevo.apellidos">
  <input type="text" name="empresa" placeholder="Introduce una empresa" [(ngModel)]="nuevo.empresa">
  <input type="text" name="puesto" placeholder="Introduce un puesto" [(ngModel)]="nuevo.puesto">
  <input type="number" name="cp" placeholder="Introduce un codigo postal" [(ngModel)]="nuevo.cp">
  <input type="text" name="provincia" placeholder="Introduce una provincia" [(ngModel)]="nuevo.provincia">
  <input type="number" name="telefono" placeholder="Introduce un telefono" [(ngModel)]="nuevo.telefono">
  <input type="number" name="fechaNacimiento" placeholder="Introduce una fecha de nacimiento" [(ngModel)]="nuevo.fechaNacimiento">
  <button type="submit">Agregar Cliente</button>
</form>
<br>

<div>
<button type="button" (click)="mostrarTodosCliente()">Mostrar Clientes</button>
<div *ngIf="mostrarTodos">
  <li *ngFor="let item of clientes">
    Codigo cliente: {{item.codCliente}}-<br>
    Nombre: {{item.nombre}}-<br>
    Apellidos: {{item.apellidos}}-<br>
    Empresa: {{item.empresa}}-<br>
    Puesto: {{item.puesto}}-<br>
    Codigo Postal: {{item.cp}}-<br>
    Provincia: {{item.provincia}}-<br>
    Telefono: {{item.telefono}}-<br>
    Fecha nacimiento: {{item.fechaNacimiento}}</li>

</div>


<br>
<div>
<form (ngSubmit)="mostrar()">
  <input type="number" name="codCliente" placeholder="introduce un codigo cliente" [(ngModel)]="buscarCod">
  <button type="submit">buscar</button>
  <button type="button" (click)="limpiar()">Limpiar</button>
</form>
  <p>{{nombreClienteBuscado}}</p>
</div>
<br>


<br>
<form (ngSubmit)="eliminar()">
  <input type="number" name="codCliente" placeholder="introduce un codigo cliente" [(ngModel)]="buscarCod">
  <button type="submit">delete</button>

</form>
<br>


<label></label>



