<form (ngSubmit)="agregar()">

  <input type="text" name="codArticulo" placeholder="introduce un codigo cliente" [(ngModel)]="nuevo.codArticulo">

  <input type="text" name="nombre" placeholder="Introduce un nombre" [(ngModel)]="nuevo.nombre">

  <input type="text" name="descripcion" placeholder="Introduce un apellido" [(ngModel)]="nuevo.descripcion">

  <input type="text" name="precioUnidad" placeholder="Introduce una empresa" [(ngModel)]="nuevo.precioUnidad">
  <input type="text" name="unidadesStock" placeholder="Introduce una empresa" [(ngModel)]="nuevo.unidadesStock">
  <input type="text" name="stockSeguridad" placeholder="Introduce una empresa" [(ngModel)]="nuevo.stockSeguridad">
  <input type="text" name="imagen" placeholder="Introduce una empresa" [(ngModel)]="nuevo.imagen">

  <button type="submit">Agregar Cliente</button>

</form>
